html {
    min-height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.55;
    background-color: white;
}

header {
      width: 100%;
      background-image: url("fruit-header.jpeg")
}

.main-nav {
    max-width: 960px;
    margin: 0 auto;
    background-color: #ffd966;
}

.main-nav-ul {
    text-align: justify;
    /*min-width: 200px;*/
}

.main-nav-ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

.main-info {
    max-width: 960px;
    margin: 0 auto;
}

img {
    float: left;
    margin: 10px 40px 10px 0px;
    height: 22em;
}

section {
    margin-top: 100px;
    margin-bottom: 150px;
    /*Why do pixels have different values in different sections? how do i use ems?"*/
}
/*
footer {
    clear: both;
    background-color:  #ffd966;
}


#priv {
    float: right;
}*/

.wrapper {
  max-width: 60em; /* 960/16 */
  margin: 0 auto;
}

/* FIXES BROKEN BOX MODEL WHEN CHILDREN FLOAT*/
.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
}

.clearfix:after {
	clear:both
}

/* FOOTER */
.footer {
  background-color: #ffd966;
  color: inherit;
  border: 1px solid red;
}

.float-left {
  float: left;
  border: 1px solid blue;
}

.float-right {
  float: right;
  border: 1px solid green;
}
