html {
    min-height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.55;
    background-color: white;
}

header {
      width: 100%;
}

.main-nav {
    max-width: 960px;
    margin: 0 auto;
    background-color: #ffd966;
}

.main-nav-ul {
    text-align: justify;
    /*min-width: 200px;*/
}

.main-nav-ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

nav

li {
    list-style-type: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

main

.main-info {
    max-width: 960px;
    margin: 0 auto;
}

img {
    float: left;
    margin: 10px 40px 10px 0px;
}

section {
    margin-top: 100px;
    margin-bottom: 150px;
    /*Why do pixels have different values in different sections? how do i use ems?"*/
}

footer {
    clear: both;
    background-color:  #ffd966;
}

.bottom {
    display: inline-block;
    padding: 1em;
    margin: 0em;
    /*height: 2.6em;*/ /*need to work out how to get the right height*/
}

#priv {
    float: right;
}
